[submodule "External/logger-cpp"]
	path = Engine/External/logger-cpp
	url = https://github.com/zcorniere/logger-cpp.git
[submodule "External/tracy"]
	path = External/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "External/VulkanMemoryAllocator"]
	path = RHI/Vulkan/External/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "External/Vulkan-Headers"]
	path = RHI/Vulkan/External/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "External/shaderc"]
	path = RHI/Vulkan/External/shaderc
	url = https://github.com/google/shaderc.git
[submodule "External/SPIRV-Cross"]
	path = RHI/Vulkan/External/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "External/SPIRV-Tools"]
	path = RHI/Vulkan/External/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "External/SPIRV-Headers"]
	path = RHI/Vulkan/External/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "External/glslang"]
	path = RHI/Vulkan/External/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "External/magic_enum"]
	path = Engine/External/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "External/Catch2"]
	path = External/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "Engine/External/mimalloc"]
	path = Engine/External/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "Engine/External/glfw"]
	path = Engine/External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Engine/External/ModernDialogs"]
	path = Engine/External/ModernDialogs
	url = https://github.com/GamesTrap/ModernDialogs.git
[submodule "Engine/External/simpleini"]
	path = Engine/External/simpleini
	url = https://github.com/brofield/simpleini.git
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "RHI/Vulkan/External/Vulkan-Utility-Libraries"]
	path = RHI/Vulkan/External/Vulkan-Utility-Libraries
	url = https://github.com/KhronosGroup/Vulkan-Utility-Libraries.git
