[submodule "External/glm"]
	path = External/glm
	url = git@github.com:g-truc/glm.git
[submodule "External/logger-cpp"]
	path = External/logger-cpp
	url = git@github.com:zcorniere/logger-cpp.git
[submodule "External/tracy"]
	path = External/tracy
	url = git@github.com:wolfpld/tracy.git
[submodule "External/VulkanMemoryAllocator"]
	path = External/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "External/SDL"]
	path = External/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "External/Vulkan-Headers"]
	path = External/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
